@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-shine {
    animation: shine 3s linear infinite;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}